<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style.css" />
    <title>OCR</title>
  </head>
  <body>
    <h1>Convert Image to PDF</h1>
    <p>
      This tool recognises the text within an image then converts the image to a
      PDF where the text can be selected.
    </p>
    <form action="/uploads" method="POST" enctype="multipart/form-data">
      <input type="file" name="image" />
      <button type="submit">Convert</button>
    </form>
  </body>
</html>
